body{
            font-family: Arial, sans-serif;
            background: linear-gradient(to right, #4e73df, #1cc81f);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .Login-box{
            background: white;
            padding: 30px;
            width: 350px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        }

        h2{
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        input{
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
         input:focus{
            border-color: #4e73df;
            outline: none;
        }

        button{
            width: 100%;
            padding: 10px;
            background: #4e73df;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover{
            background: #2e59d9;
        }

        .Invalid{
            text-align: center;
            color: red;
            margin-top: 10px;
        }